---
import PrivateLayout from "../layouts/PrivateLayout.astro";
import PasswordChangeForm from "../components/auth/PasswordChangeForm";
---

<PrivateLayout title="Zmiana hasła | 10x Cards">
  <div class="max-w-md mx-auto">
    <PasswordChangeForm client:load />
  </div>
</PrivateLayout>
