---
import PrivateLayout from "../layouts/PrivateLayout.astro";
import DeleteAccountConfirmation from "../components/auth/DeleteAccountConfirmation";
---

<PrivateLayout title="Usuń konto | 10x Cards">
  <div class="max-w-md mx-auto">
    <DeleteAccountConfirmation client:load />
  </div>
</PrivateLayout>
