---
import Layout from "../layouts/Layout.astro";
import GeneratorView from "../components/views/GeneratorView";
---

<Layout title="Generator Fiszek" showNavigation={true} activeNavItem="generator">
  <h1 class="text-3xl font-bold mb-6">Generator Fiszek</h1>
  <GeneratorView client:load />
</Layout>
